doctype html
html
	head

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

		title Buster Keyboard | A soundbox for FFVII
		link(rel="canonical", href="http://twogrey.github.io/buster-keyboard/")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="keywords", content="final fantasy, ffvii, keyboard, soundbox, console, limit break, bolt 3, buster sword")
		meta(name="description", content="Use your keyboard to cast some cult magics like Bolt 3, or trigger Limit Break after a dash !")

		meta(property="og:title", content="Use your keyboard to relive those combats from FFVII")
		meta(property="og:site_name", content="Buster Keyboard | A soundbox for FFVII")
		meta(property="og:url", content="http://twogrey.github.io/buster-keyboard/")
		meta(property="og:description", content="Use your keyboard to cast some cult magics like Bolt 3, or trigger Limit Break after a dash !")
		meta(property="og:image", content="https://raw.githubusercontent.com/twogrey/buster-keyboard/gh-pages/preview-fb.png")
		meta(property="og:type", content="website")

		meta(property="twitter:card" content="summary_large_image")
		meta(property="twitter:title" content="Buster Keyboard - A soundbox for FFVII")
		meta(property="twitter:description" content="Use your keyboard to cast some cult magics like Bolt 3, or trigger Limit Break after a dash !")
		meta(property="twitter:creator" content="@twogrey")
		meta(property="twitter:url" content="http://twogrey.github.io/buster-keyboard/")
		meta(property="twitter:image" content="https://raw.githubusercontent.com/twogrey/buster-keyboard/gh-pages/preview-tw.png")

		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
		link(rel='stylesheet', href='css/styles.css')
		script(src='js/dest/built.min.js') 
		link(rel="short icon", href="favicon.ico")
		link(rel="apple-touch-icon", href="apple-touch-icon.png")

	body
		.wrapper
			header
				h1 Fight with your Buster <del>sword</del> Keyboard !
				i(class='icon icon-9 red')
				i(class='icon icon-6 blue')
				i(class='icon icon-12 yellow')
				p When <a href="https://twitter.com/dathink" target="_blank">@Dathink<i class="icon new-window"></i></a> has released <a href="https://twitter.com/Dathink/status/565284636503592961" target="_blank">The DaftPunk Console<i class="icon new-window"></i></a>, I found it was a very cool concept. So I decided to make my own console, with the sounds of Final Fantasy VII. 
				p With your keyboard, cast some cult magics like Bolt 3, or trigger Limit Break after a dash ! I hope FF Fans will enjoy it (and others won't have too much headache ^_^ ).
				p(class="smaller txtright") The battle theme and sound effects come from Final Fantasy VII &copy;, owned by Square Enix
				p(class='clearfix share')
					span(class='fl') View source :
						a(href='https://github.com/twogrey/buster-keyboard')
							i(class="icon github")
					span(class='fr') 
						span(class='no-small-screen') Share it, kupo !
						a(href='#')
							i(class="icon fb")
						a(href='#')
							i(class="icon tw")
			div(class="panel")
				span Use your buster keyboard !
			section(class='keyboard clearfix')
				//-
					["q", 81], ["w", 87], ["e", 69], ["r", 82], ["t", 84], ["y", 89], ["u", 85], ["i", 73], ["o", 79], ["p", 80],
					["a", 65], ["s", 83], ["d", 68], ["f", 70], ["g", 71], ["h", 72], ["j", 74], ["k", 75], ["l", 76], [";", 186],
					["z", 90], ["x", 88], ["c", 67], ["v", 86], ["b", 66], ["n", 78], ["m", 77], [",", 188], [".", 190]
				- var keycodes = ["81", "87", "69", "82", "84", "89", "85", "73", "79", "80","65","83","68","70","71","72","74","75","76","186","90","88","67","86","66","78","77","188","190"];
				- var names = ["Bio", "Bio 2", "Bio 3", "Ice", "Ice 2", "Ice 3", "Cure", "Fire", "Fire 2", "Fire 3","Bolt","Bolt 2","Bolt 3","Sleepel","Cast","Limit Break!!","Dash","Critical Hit","Gun","Rifle","Sword","Block","Bite","Punch","Stick","Gatling Laser","Laser Beam","Bomb","Shuriken"];
				each val, index in keycodes
					button(
						class="icon icon-#{index+1}",
						data-icon="#{index+1}",
						data-keycode=val,
						data-name=names[index]
					)
				button(
					class='spacebar',
					data-icon=keycodes.length+1,
					data-keycode="32"
				) &#9835;

				each val, index in keycodes
					audio(data-sound="#{index+1}")
						source(src="audio/sound-#{index+1}.mp3", type="audio/mp3")

				audio(data-sound="#{keycodes.length+1}", class="music")
					source(src="audio/music.mp3", type="audio/mp3")
